.product__card__card {
    min-height: 400px;
    width: 300px;
    margin: 14px;
    border-width: 1px;
    box-shadow: 0px 2px 6px -3px #01010126;
    border-radius: 5px;
}

.product__card {
    height: 100%;
    width: 100%;
    background-color: #dbdbdb26;
}

.product__image {
    height: 70%;
    max-height: 300px;
    width: auto;
    display: flex;
    justify-content: first baseline;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__image > img{
    max-width: 100%;
    height: 300px;
    transition: 1s;
    margin: 0px auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.product__card__detail {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.product__name {
    height: 30%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 1rem;
    font-weight: bold;
}

.product__description {
    width: 100%;
    font-size: 0.7rem;
}

.product__price {
    height: 50%;
    color: rgb(0, 110, 73);
    font-size: 0.9rem;
    background-color: rgba(187, 255, 232, 0.629);
    border-radius: 25px;
    margin-bottom: 50px;
    padding: 5px 15px;
}

.product__card__action {
    height: 45px;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 5px;
}