

.register__auth__container {
    height: auto;
    width: 100%;
}

.register__auth {
    width: 100%;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}